@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.dark {
    background-color: #11151d;
    color: #e2e8f0;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.game-type {
    cursor: pointer;
    padding: 32px;
    transition: all;
    transition-duration: 250ms;
}

.number-button {
    cursor: pointer;
    padding: 12px;
    transition: all;
    transition-duration: 250ms;
    border: solid 1px #99a1af;
    background-color: #f3f4f6;
    border-radius: 6px;
    font-size: large;
}
.dark .number-button {
    border: solid 1px oklch(37.3% 0.034 259.733);
    background-color: oklch(27.8% 0.033 256.848);
}

.number-button:hover {
    border: solid 1px oklch(70.4% 0.191 22.216);
    background-color: oklch(93.6% 0.032 17.717);
    color: oklch(57.7% 0.245 27.325);
}

.dark .number-button:hover {
    border: solid 1px oklch(63.7% 0.237 25.331);
    background-color: oklch(25.8% 0.092 26.042);
    color: oklch(57.7% 0.245 27.325);
}

.number-button[aria-pressed="true"] {
    border: solid 1px oklch(57.7% 0.245 27.325);
    background-color: oklch(88.5% 0.062 18.334);
    color: oklch(44.4% 0.177 26.899);
}

.dark .number-button[aria-pressed="true"] {
    border: solid 1px oklch(57.7% 0.245 27.325);
    background-color: oklch(39.6% 0.141 25.723);
    color: oklch(80.8% 0.114 19.571);
}
